<p-messages></p-messages>

<div class="p-grid p-fluid">
    <app-title [title]="'Cadastrar Ação'"></app-title>

    <span class="p-buttonset" [ngStyle]="{'float': 'right', 'padding': '0.2%'}">
        <button pButton pRipple type="button" label="Salvar" class="p-button-raised"
            (click)="salvarRegistro()"></button>
    </span>

    <span class="p-buttonset" [ngStyle]="{'float': 'right', 'padding': '0.2%', 'color': ''}">
        <button pButton pRipple type="button" label="Cancelar" class="p-button-raised p-button-secondary" routerLink="/acao"></button>
    </span>

    <div class="col-g10" [ngStyle]="{'padding-top': '0.5%', 'width': '100%', 'float': 'left' }">

        <div class="p-field p-md-4" [ngStyle]="{'padding': '1%', 'float': 'left'}">
            <label for="withoutgrouping">Ativo</label>
            <p-dropdown [options]="ativos" [(ngModel)]="selectedAtivo" optionLabel="nome"></p-dropdown>
        </div>

        <div class="p-field p-md-4" [ngStyle]="{'padding': '1%', 'float': 'left'}">
            <label for="withoutgrouping">Quantidade</label>
            <p-inputNumber [(ngModel)]="acao.quantidade" mode="decimal" inputId="pInputQuantidadeText"
                [useGrouping]="false">
            </p-inputNumber>
        </div>

        <div class="p-field p-md-4" [ngStyle]="{'padding': '1%', 'float': 'left'}">
            <label for="minmaxfraction">Valor Ativo Pago</label>
            <p-inputNumber [(ngModel)]="acao.valorAtivoPago" inputId="pInputValorAtivoPagoText" mode="decimal"
                [minFractionDigits]="2" [maxFractionDigits]="5">
            </p-inputNumber>
        </div>

        <div class="p-field p-md-4" [ngStyle]="{'padding': '1%', 'float': 'left'}">
            <label for="minmaxfraction">Valor Bruto Pago</label>
            <p-inputNumber [(ngModel)]="acao.valorBrutoPago" inputId="pInputValorBrutoPagoText" mode="decimal"
                [minFractionDigits]="2" [maxFractionDigits]="5">
            </p-inputNumber>
        </div> 

        <div class="p-field p-md-4" [ngStyle]="{'padding': '1%', 'float': 'left'}">
            <label for="minmaxfraction">Preço Alvo</label>
            <p-inputNumber [(ngModel)]="acao.precoAlvo" inputId="pInputPrecoAlvoText" mode="decimal"
                [minFractionDigits]="2" [maxFractionDigits]="5">
            </p-inputNumber>
        </div>

        <div class="p-field p-md-4" [ngStyle]="{'padding': '1%', 'float': 'left'}">
            <label for="icon">Mês Compra</label>
            <p-calendar [(ngModel)]="acao.dataCompra" [showIcon]="true" inputId="icon" dateFormat="dd/mm/yy">
            </p-calendar>
        </div>
    </div>

</div>