<div class="painel-card">
    <p-card header="Investimento Bruto Total" class="card">
        <ng-template pTemplate="header">
        </ng-template>
        <p>{{valorTotalInvestido}}</p>
    </p-card>


    <p-card header="Quantidade Investido Ativo" class="card">
        <ng-template pTemplate="header">
        </ng-template>
        <p>{{quantidade}}</p>
    </p-card>


    <p-card header="Lucro Bruto Alvo" class="card">
        <ng-template pTemplate="header">
        </ng-template>
        <p>0</p>
    </p-card>

    <div class="col-g12">
        <div class="chart">
            <h5>Ação 01</h5>
            <p-chart type="bar" [data]="basicData" [options]="basicOptions"></p-chart>
        </div>

        <p-card header="Simple Card" class="chart-card">
            <ng-template pTemplate="header">
            </ng-template>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error
                repudiandae
                numquam deserunt
                quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate
                neque quas!</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error
                repudiandae
                numquam deserunt
                quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate
                neque quas!</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error
                repudiandae
                numquam deserunt
                quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate
                neque quas!</p>
        </p-card>

    </div>
</div>