.card{
    width: 20%;
    float: left;
    padding: 0.5%;
}

.painel-card{
    width: 100%;
}

.chart{
    width: 45%;
    float: left;
    padding: 1%;
}

.chart-card{
    width: 55%;
    float: left;
    padding: 0.5%;
}