/* You can add global styles to this file, and also import other style files */

.col-g12{width: 100%; float: left;}

body{
    padding: 0.2%;
}

.container{
    padding: 0.5%;
}
.table{
    padding-top: 1%;
    float: left;
    width: 100%;
}

.p-title-table{
    background-color: lightsteelblue;
    padding: 0.5%;
    color: #505050;
    font-family: Arial, Helvetica, sans-serif;
}